<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delhi Public School</title>
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <h1>
        Delhi Public School
    </h1>
    <nav class="navbar">
        <ul>
            <li>
                <a href="{% url 'Classroom_app:page1' %}">Add Student</a>
            </li>
            <li>
                <a href="{% url 'Classroom_app:page2' %}">View Students</a>
            </li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>